<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}

        <ul>
        {{# list}}
            <li>{{element}}</li>
        {{/ list}}
        </ul>
    </body>
</html>